allow sysinit cache_file:dir getattr;
allow sysinit kernel:process setsched;
allow sysinit proc:file getattr;
allow sysinit proc:file open;
allow sysinit proc:file read;
allow sysinit proc:file write;
allow sysinit proc_dirty_ratio:file getattr;
allow sysinit proc_dirty_ratio:file open;
allow sysinit proc_dirty_ratio:file read;
allow sysinit proc_dirty_ratio:file write;
allow sysinit rootfs:dir add_name;
allow sysinit rootfs:dir write;
allow sysinit rootfs:lnk_file create;
allow sysinit storage_file:dir getattr;
allow sysinit system_file:dir add_name;
allow sysinit tmpfs:dir search;
